*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// Hidden scrollbar
body::-webkit-scrollbar {
  display: none !important;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: 'lightblue';
  color: 'gray';
  line-height: 1.5;
  font-size: 0.875rem;
  max-width: 1280px;
  margin: 0 auto;
  min-height: 800px;
  position: relative;
}

ul, li {
  list-style-type: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: 'black';
  &:hover {
    // color: 'red';
    // font-weight: bold;
  }
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}